/* Nav */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Add a black background color to the top navigation */
.footerNav {
  overflow: hidden; /* originally hidden */
  background-color: rgb(224, 224, 224);
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */

  width: 100%; /* Full width */
}

.footerNav .contactPageDocWrite {
  text-align: center;
}
/* Style the links inside the navigation bar */
.footerNav a {
  float: right;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the color of links on hover */
.footerNav a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

/* Add an active class to highlight the current page */
.footerNav a.active {
  background-color: #04aa6d;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.footerNav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .footerNav a:not(:first-child) {
    display: none;
  }
  .footerNav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .footerNav.responsive {
    position: fixed; /* originally relative, switching to fixed allows for a sticky nav bar that turns into a hamburger, but allows the menu hamburger display the list */
  }
  .footerNav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .footerNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
